[submodule "ludo-assimp/lib/assimp"]
	path = ludo-assimp/lib/assimp
	url = https://github.com/assimp/assimp.git
[submodule "ludo-bullet/lib/bullet3"]
	path = ludo-bullet/lib/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "ludo-glfw/lib/glfw"]
	path = ludo-glfw/lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ludo-opengl/lib/glew"]
	path = ludo-opengl/lib/glew
	url = https://github.com/nigels-com/glew.git
[submodule "ludo-stb/lib/stb"]
	path = ludo-stb/lib/stb
	url = https://github.com/nothings/stb.git
